<!DOCTYPE html>
<html lang="en">
  <head>
    <!--  `<title>` is not automatically injected...
      --  https://github.com/jantimon/html-webpack-plugin/issues/1187#issuecomment-478218361
      -->
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Populated by `HtmlWebpackPlugin` -->
  </head>

  <body>
    <section
      class="absolute top-0 left-0 h-screen w-screen grid gap-2 bg-stone-700 text-stone-500"
    >
      <h1 class="justify-self-center self-end text-7xl font-black">(｡╯︵╰｡)</h1>
      <p class="justify-self-center text-sm font-thin">
        This webapp requires <span class="font-normal">JavaScript</span>. Sorry!
      </p>
    </section>
  </body>
</html>
