<!DOCTYPE html>
<html lang="en">
  <head>
    <!--  Emmet boilerplate
      --  `viewport` meta tag used for mobile scaling
      -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--  `<title>` is not automatically injected...
      --  https://github.com/jantimon/html-webpack-plugin/issues/1187#issuecomment-478218361
      -->
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Populated by `HtmlWebpackPlugin` -->
  </head>

  <body>
    <section
      class="absolute top-0 left-0 h-screen w-screen grid grid-rows-[3fr_2fr] gap-16 bg-stone-700 text-stone-500"
    >
      <div
        class="justify-self-center self-end animate-ping h-1/5 aspect-square rounded-full bg-stone-500 opacity-75"
      ></div>
      <p class="justify-self-center text-sm text-center">
        Loading...
        <br />
        <span class="text-xs font-thin">
          This webapp requires
          <span class="font-normal text-amber-500">JavaScript</span>
        </span>
      </p>
    </section>
  </body>
</html>
